{% extends 'admin_base.html.twig' %}

{% block title %}Hello admin!{% endblock %}

{% block body %}
<br/><br/><br/><br/><br/>

    <h1>Gerer Type Postes</h1>

<br/><br/>
<h3>Ajouter un nouveau Type Postes</h3>
{{form_start(form)}}
<div class="form-group">
        {{form_label(form.type)}}
        {{form_widget(form.type)}}
        {{form_errors(form.type)}}
</div>
<button class="btn btn-outline-primary">Ajouter type</button>
{{form_end(form)}}

<br/><br/>
<h3>Liste des Types Postes</h3>
<table class="table">
  <thead>
    <tr>
      <th scope="col">type poste</th>
    </tr>
  </thead>
  <tbody>
    {% for i in typesPostes%}
    <tr>
      <td>{{i.getType}}</td>
      <td>
      <div class="d-flex justify-content-between align-items-center">
      <div class="btn-group">
        <a href="{{path('admin_edit_type', {'id': i.id})}}" class="btn btn-sm btn-outline-secondary">Modifer</a>
        <a href="{{path('admin_delete_type', {'id': i.id})}}" class="btn btn-sm btn-outline-secondary" onclick="return confirm('Attention ce ci va supprimer le type poste')">Supprimer</a>
      </div>
      </div>
      
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}

{% block metier %}
<h3>nb long trajet :</h3><h5>{{longTrajetCount}}</h5>
<h3>nb court trajet:</h3><h5>{{courtTrajetCount}}</h5>

<canvas id="myChart"></canvas>

{% block chart %}
<canvas id="myChart"></canvas>
{% endblock %}


{% block javascripts %}
{{ parent() }}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.3.2/chart.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script>
    var ctx = document.getElementById('myChart').getContext('2d');
    var chart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ['Long trajet', 'Court trajet'],
            datasets: [{
                label: '% de postes',
                data: [{{longTrajetCount}}, {{courtTrajetCount}}],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true,
                        callback: function(value) {if (value % 1 === 0) {return value;}}
                    }
                }]
            }
        }
    });
  </script>

{% endblock %}

{% endblock %}
