{% extends 'base.html.twig' %}

{% block title %}Reclamation {% endblock %}

{% block body %}
<br/><br/><br/><br/><br/>

   
{# Search form #}
	<form method="get" action="{{ path('app_reclamation_index') }}" class="mb-4">
		<div class="input-group">
			<input type="text" name="q" value="{{ app.request.get('q') }}" class="form-control" placeholder="Rechercher une Reclamation">
			<button type="submit" class="btn btn-primary">Rechercher</button>
		</div>
	</form>

	{# Search results #}
	{% if reclamation is not empty %}
		<table class="table">
			<thead>
				<tr>
					<th scope="col">Id</th>
                    <th scope="col">Text_rec</th>
                    <th scope="col">Sujet</th>
                    <th scope="col">type reclamation</th>
                    <th scope="col">Id_user</th>
				</tr>
			</thead>
			<tbody>
				
				{% for reclamation in reclamation %}
					<tr>
						<td>{{ reclamation.id }}</td>
                        <td>{{ reclamation.textRec }}</td>
                        <td>{{ reclamation.sujet }}</td>
                        <td>{{ reclamation.typeReclamation }}</td>
                        <td>{{ reclamation.idUser }}</td>
						<td>
							 <div class="d-flex justify-content-between align-items-center">
								<div class="btn-group">
									<a href="{{ path('app_reclamation_show', {'id': reclamation.id}) }}">
										<button type="submit" class="btn btn-primary">Modifier</button>
									</a>
									<a href="{{ path('app_reclamation_delete', {'id': reclamation.id}) }}" onclick="return confirm('Êtes-vous sûr de bien vouloir supprimer cette Reclamation?')">
										<button type="submit" class="btn btn-primary" style="margin-left: 10px;">Supprimer</button>
									</a>
								</div>
							</div>

						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% else %}
		<p>Aucun reclamation ne correspond à votre recherche.</p>
	{% endif %}

    <br/><br/><br/><br/><br/>

{% endblock %}
