{#pour eviter la repetition du meme formulaire edit/add #}
<div class="form-group">
    {{form_label(form.type)}}
    {{form_widget(form.type)}}
    {{form_help(form.type)}}
</div>
<div class="form-group">
    {{form_label(form.nb_place)}}
    {{form_widget(form.nb_place)}}
    {{form_help(form.nb_place)}}
</div>
<div class="form-group">
    {{form_label(form.marque)}}
    {{form_widget(form.marque)}}
    {{form_help(form.marque)}}
</div>
<div class="form-group">
    {{form_label(form.matricule)}}
    {{form_widget(form.matricule)}}
    {{form_help(form.matricule)}}
</div>
