{% include 'layouts/navbar.html.twig' %}
  <!--<header id="header" class="header d-flex align-items-center">

    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="{{ path('main_homepage') }}">Home</a></li>
          <li><a href="#about">About</a></li>
          <li class="dropdown"><a href="{{ path('main_homepage') }}"><span>Poste</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li><a href="{{ path('app_add_poste') }}">AJOUTER</a></li>
              <li><a href="{{ path('app_postes') }}">HISTORIQUE</a></li>
            </ul>
          </li>
          <li class="dropdown"><a href="{{ path('main_homepage') }}"><span>Trajet</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li><a href="{{path('app_add_trajet')}}">AJOUTER</a></li>
              <li><a href="{{path('app_trajet')}}">HISTORIQUE</a></li>

            </ul>
          </li>
          <li><a href="#recent-trajet">SignIn</a></li>
        </ul>
      </nav> 

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

    </div>
  </header>-->



    