{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
<br/><br/><br/><br/><br/>

    <h1>{{ subtitle }}</h1>
    </br></br>

    <table class="table">
        <thead>
            <tr>
                <th>Trajet</th>
                <th>Véhicule</th>
                <th>Date de Départ</th>
                <th>Date d'Arrivée</th>
                <th>Prix</th>
                <th>Type</th>
            </tr>
        </thead>
        <tbody>
            {% for poste in postes %}
                <tr>
                    <td>{{ poste.trajet }}</td>
                    <td>{{ poste.vehicule }}</td>
                    <td>{{ poste.dateDepart|date('d/m/Y H:i') }}</td>
                    <td>{{ poste.dateArrive|date('d/m/Y H:i') }}</td>
                    <td>{{ poste.prix }}</td>
                    <td>{{ poste.typepost }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <br/><br/>
      <div class="d-flex justify-content-between align-items-center">
      <div class="btn-group">
        <a href="/postes" class="btn btn-sm btn-outline-secondary">Retour</a>
      </div>
      </div>
      <br/><br/><br/><br/><br/>

{% endblock %}
